In [3]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [4]:
def get_jobs(category, pages):
    '''Gets scrapes the job title, company name, location, views and skills'''
    job_list = []
    for no in range(1,pages):
        # goes through the given number of pages
        url = "https://merojob.com/category/" + category + "/?page="+ str(no)
        r = requests.get(url)
        soup = bs(r.content, 'html.parser')
        jobs = soup.find('div',attrs={'id':'search_job'})
        for x in range(0,5):

            # extracting data

            job_title = jobs.find_all(itemprop="title")[x].get_text(" ", strip=True)
            orgn = jobs.select('h3.h6')[x].get_text(" ", strip=True)
            location = jobs.find_all(itemprop="address")[x].get_text(" ", strip=True)
            views = jobs.find_all('span',attrs={'class':'text-primary mr-2'})[x].get_text(" ", strip=True).replace("Views: ","")
            try:
                desc = jobs.find_all(itemprop="skills")[x].get_text(" ", strip=True).split(" ")
            except:
                desc = ("No skills listed")

            # adding data to list

            job_list.append({"Job Title" : job_title,
            "Company" : orgn,
            "Location" : location,
            "Views" : int(views),
            "Skills" : desc})
            
    return pd.DataFrame(job_list)#changes the list into a pandas dataframe

In [5]:
it = get_jobs("it-telecommunication", 10)#catagory and page number
(it)

,Job Title,Company,Location,Views,Skills
0,Quality Assurance Engineer,Diagonal Technologies,"Sankhamul, Lalitpur",1879,"[Time, Management, Problem, Solving, Creativit..."
1,Java Developer (Account Managem…,Smart Data Solution,Kupondole,1962,"[Jquery, Css, Javascript, J2Ee, Java]"
2,React Developer,SK Technology,"Remote , Work from home",1408,"[React, Sql, Javascript]"
3,Python Developer,Diagonal Technologies,"Sankhamul, lalitpur",1054,"[Html, Css, Odoo, Postgresql, Python]"
4,React/React Native Developer (M…,SeeLogic International,Nepal,1006,"[Interpersonal, Communication, Teamwork, Time,..."
5,QA Manager,Hitachi Energy,"Kathmandu, Nepal",1295,"[Analytical, Skills, Interpersonal, Management..."
6,Digital Marketing,Ace Media and Marketing,Kathmandu,894,"[Interpersonal, Management, Communication, Pho..."
7,ReactJS/React Native,Dhuni Software,Kathmandu,502,"[Communication, Html, Css, Javascript]"
8,Sales & Marketing (Hardware Tec…,Shikhar Organization Limited,Pokhara,943,"[Interpersonal, Management, Marketing, Adminis..."
9,"Senior Software Engineer (C#, .…",WhiteHat Engineering Inc.,"Kathmandu, Nepal",501,"[Interpersonal, Management, Communication]"
10,Senior Software Engineer,WhiteHat Engineering Inc.,"Kathmandu, Nepal",313,"[Interpersonal, Management, Communication]"
11,Assistant Manager (m/f/x),ITONICS Nepal,Kathmandu,2300,"[Php, Multi, Tasker, Documentation, Team, Play..."
12,Software Engineer,Hitachi Energy,"Kathmandu , Sitapaila, Kathmandu, Nepal",560,"[Interpersonal, Communication, Leadership]"
13,Cloud Engineer (AWS/Azure),Thakral One Nepal,"Kathmandu, Nepal",939,"[Interpersonal, Communication, Leadership]"
14,Infrastructure Engineer,Thakral One Nepal,"Kathmandu, Nepal",762,No skills listed
15,Intern,Thakral One Nepal,"Kathmandu, Nepal",1998,"[Interpersonal, Communication, Leadership]"
16,Java Developer (Spring),Dzango Technologies Limited,"Kupondole, Lalitpur",459,"[React.Js, Html5/Css3, Git]"
17,Associate Software Quality Test…,Hitachi Energy,"Kathmandu, Nepal",632,"[Marketing, Api, Testing, And, Tools, Microsof..."
18,Software Quality Test Engineer,Hitachi Energy,"Kathmandu, Nepal",319,"[Power, Point, Test, Automation, Microsoft, Of..."
19,Assistant Specialist,Ncell,Kathmandu,6761,No skills listed
20,Sales Representative,Ncell,Kathmandu,5910,"[Interpersonal, Management, Communication, Org..."
21,Tech Community & Talent Manager,WorldLink Communications,"Jawalakhel, Lalitpur",663,"[Unix, Linux, Networking, Scripting, Language]"
22,IT and Infrastructure Assistant…,ITONICS Nepal,Kathmandu,939,"[Database, Management, Angular, Node.Js, Python]"
23,IT- Assistant Trainee,Nepal Digital Payments Company Limited,Kathmandu,1091,No skills listed
24,IT- Trainee,Nepal Digital Payments Company Limited,Kathmandu,1132,No skills listed
25,Client Relationship / CSR / Bus…,Teqmint Innovations,"Kathmandu, Nepal",598,"[Communication, Interpersonal, Management, Org..."
26,Associate IT Service Manager,Executive Search- merojob,Thapathali,558,"[Interpersonal, Management, Multitasking, Orga..."
27,Frontend Developer,Executive Search- merojob,Work From Home,257,"[Integrating, Third-Party, Apis, Proficiency, ..."
28,Java Developer,Executive Search- merojob,Work from Home,146,"[Spring, Boot, Core, Java, Hands-On, Sql, Serv..."
29,Senior Java Developer,Executive Search- merojob,Work From Home,100,"[Spring, Boot, Core, Java, Spring, Rest/Soap, ..."
30,Dynamics 365 Technical BC Cons…,SeeLogic International,"Soalteemode , kathmandu",144,"[Project, Coordination, Communication, Crm, Pr..."
31,Software Developer,SeeLogic International,"Kathmandu, Nepal",259,"[Project, Coordination, Communication, Crm, Pr..."
32,Head – Digitalization & Automat…,Reliance Life Insurance,"New Baneshwor, Kathmandu",288,"[Interpersonal, Management, Communication, Tim..."
33,Software Developer,Reliance Life Insurance,"New Baneshwor, Kathmandu",184,"[Interpersonal, Management, Communication, Sql..."
34,Web Designer,EBPearls,Kathmandu,1179,"[Html, Jquery, Javascript, Css3, Planning, Ana..."
35,Senior DevOps Engineer,CloudHero,Remote,671,"[Devops, Communication, Linux, Cloud, Computin..."
36,Node.js Developer,EBPearls,"Kandevtasthan, Kupondole, Lalitpur",333,"[Angular, Communication, Analytical, Vue.Js, N..."
37,Android Developer,EBPearls,Kandevsthan,259,"[Mvc, Architecture, Mvvm]"
38,Dot Net Developer,EBPearls,Kandevsthan,307,"[Asp.Net, Software, Engineering, Problem, Solv..."
39,Wordpress Developer,EBPearls,"Kandevtasthan, Kupondole, Lalitpur",266,"[Css, Jquery, Javascript, Html5, Sass]"
40,IOS Developer,EBPearls,"Kandevtasthan, Kupondole, Lalitpur",151,"[Cocoa, Touch, Coredata, Orm, And, Rdbms]"
41,Quality Analyst,EBPearls,Kandevsthan,298,"[Agile/Scrum, Quality, Assurance, Record, Mana..."
42,Flutter Developer,EBPearls,Kathmandu,434,"[Critical, Thinking, Analytical, Problem, Solv..."
43,Business Analyst,EBPearls,Kathmandu,458,No skills listed
44,Shopify Developer,EBPearls,,315,No skills listed

In [5]:
it.head(10)

,Job Title,Company,Location,Views,Skills
0,Java Developer (Account Managem…,Smart Data Solution,Kupondole,2014,"[Jquery, Css, Javascript, J2Ee, Java]"
1,Senior Java Developer,InternMatch,"Kupandole, Kathmandu",1022,"[Php, Css, Javascript, Html5, Vue.Js]"
2,Sr. Web Developer(Laravel),CrossOver Nepal,Kupondole,961,"[Interpersonal, Management, Communication, Tim..."
3,Business Insights Analyst (m/f/…,ITONICS Nepal,"Kathmandu, Nepal",1302,[Reactjs]
4,"Full-stack developer [Laravel, …",CyberArrow,Remote location,617,No skills listed
5,Principal Engineer - MS SQL,COTIVITI NEPAL,"Kathmandu, Nepal",151,No skills listed
6,Senior JavaScript Developer,COTIVITI NEPAL,"Kathmandu, Nepal",145,No skills listed
7,Tech Lead- Dot Net,COTIVITI NEPAL,"Kathmandu, Nepal",203,No skills listed
8,Senior Data Engineer,COTIVITI NEPAL,"Kathmandu, Nepal",135,No skills listed
9,Senior QA Engineer,COTIVITI NEPAL,"Kathmandu, Nepal",164,No skills listed

In [6]:
it.loc[it.Views.idxmax()]

Job Title                     Re- Announcement of Vacancy - I…
Company                                United Mission to Nepal
Location
Views                                                     2321
Skills       [Jquery, Html5, Css, Javascript, Problem, Solv...
Name: 28, dtype: object

In [7]:
it.nlargest(10,['Views'])

,Job Title,Company,Location,Views,Skills
28,Re- Announcement of Vacancy - I…,United Mission to Nepal,,2321,"[Jquery, Html5, Css, Javascript, Problem, Solv..."
0,Java Developer (Account Managem…,Smart Data Solution,Kupondole,2014,"[Jquery, Css, Javascript, J2Ee, Java]"
3,Business Insights Analyst (m/f/…,ITONICS Nepal,"Kathmandu, Nepal",1302,[Reactjs]
18,Assistant- IT Admin,KFA,Kathmandu,1299,No skills listed
15,Associate Client Support Specia…,Hitachi Energy,Kathmandu,1144,"[Interpersonal, Video, Editing, Communication,..."
17,Information Technology Officer,VSO Nepal,,1126,No skills listed
1,Senior Java Developer,InternMatch,"Kupandole, Kathmandu",1022,"[Php, Css, Javascript, Html5, Vue.Js]"
2,Sr. Web Developer(Laravel),CrossOver Nepal,Kupondole,961,"[Interpersonal, Management, Communication, Tim..."
39,Project Manager – Health (Pro-A…,United Mission to Nepal,,866,No skills listed
32,Content Writer (Internship prog…,ThemeGrill,"Basundhara-3, Kathmandu",730,"[Html, Javascript, Communication, Teamwork, Re..."

In [8]:
it.nsmallest(10,['Views'])

,Job Title,Company,Location,Views,Skills
58,Junior .NET Developer,Professional Computer System (PCS),"Chakupat , Lalitpur",2,"[Html, Jquery, Css, C#, Mvc, Asp.Net, Ajax, Re..."
22,Software Quality Test Engineer,Hitachi Energy,"Kathmandu, Nepal",69,"[Interpersonal, Management, Time, Management, ..."
52,UI Designer/Developer,initHive,"Kupondole, Lalitpur",69,"[Github, Html5, Css3, Tailwind, Bootstrap, Sea..."
24,Principal Database Engineer,Hitachi Energy,"Kathmandu, Nepal",70,"[Interpersonal, Php, Javascript, Management, ...."
23,Senior Software Engineer,Hitachi Energy,"Kathmandu, Nepal",75,"[Multi, Tasker, Verbal/Written, Communication,..."
48,IOS Developer,EBPearls,"Kandevtasthan, Kupondole, Lalitpur",79,"[Asp.Net, Software, Engineering, Problem, Solv..."
44,Android Developer,EBPearls,Kandevsthan,81,No skills listed
31,Associate iOS Developer,EBPearls,,101,"[Interpersonal, Search, Engine, Optimization, ..."
45,Dot Net Developer,EBPearls,Kandevsthan,103,"[Asp.Net, Software, Engineering, Problem, Solv..."
49,Associate Developer,EBPearls,Kandevsthan,105,No skills listed

In [6]:
it.to_csv('it-telecommunication.csv')

In [9]:
fin = get_jobs("accounting-finance", 7)
sec = get_jobs("general-mgmt-administration-operations", 6)

In [10]:
fin.nsmallest(10,['Views'])

,Job Title,Company,Location,Views,Skills
12,Sr. Accountant,Asia Trade International,"Sanepa, Lalitpur",44,"[Administration, Public, Relations, Management..."
11,Finance Assistant,KFA,Kathmandu,87,"[Ms, Excel, Communication, Decision, Making, A..."
24,USA Land Reasercher,ABC Consulting,"Durbarmarg, Kathmandu",106,No skills listed
25,Jr. Accountant,An Audit Firm,Kathmandu,173,"[Interpersonal, Monitoring, Time, Management, ..."
26,Junior Accountant,TIRUMALA ENTERPRISES,balwatar,174,"[Interpersonal, Management, Organizational, Mi..."
22,Loan Officer,Chase Saving & Credit Co-operative Ltd.,"Tinkune, Kathmandu",214,"[Interpersonal, Management, Organizational, Ti..."
27,Accountant,Balkumari Health Center Pvt.Ltd.,"Balkumari, Lalitpur , Balkumari, Lalitpur Metr...",238,No skills listed
29,Senior Accountant,ASPIRATION ACCOUNTING SOLUTIONS PVT LTD,"Sifal, Kathmandu",320,No skills listed
23,Senior Accountant,Executive Search- merojob,"Kathmandu, Nepal",342,"[Interpersonal, Management, Time, Management, ..."
19,Admin and Account officer,Riddhasoft,"Kathmandu, Thapagaun, New Baneshwor",348,No skills listed

In [11]:
fin_views = it['Views'].sum()
it_views = fin['Views'].sum()
sec_views = sec['Views'].sum()
total_views = {'Category': ['IT', 'Finance', 'Secretary'], 'Total Views': [it_views, fin_views, sec_views ]}

In [12]:
Tviews = pd.DataFrame(total_views)
Tviews

    Category  Total Views
0         IT        26038
1    Finance        26610
2  Secretary        30210